@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0; 
  list-style: none;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
    height: auto;
}

:root{
  font-size: 12.5px;
  text-decoration: none;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 2rem;
    border-top: 10px solid transparent;
}


.logo{
    width: 13%;
    margin-right: 20px;
}

header{
    background: white;
    margin-bottom: 50px;
}

.header{
    background: white;
    margin-bottom:100px;
}


.button{
    background: transparent;
    border: solid transparent;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
nav{
    position: relative;
    display: none;
    text-align: center;
    width: 100%;
}

.menu{
    display: block;
    margin: 0 auto;
    position: relative;
}

.li_nav{
    background-color: white;   
    color: black;
    height: 130px;
    font-size: 1.5em;
    border: 10px solid white;
    text-decoration: underline 1px solid white;
}

.video{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.footer{
    border-top: 45px solid rgb(68, 66, 66);
    bottom:0;
    width:100%;
    height: 400px;
    background: rgb(68, 66, 66);
    color: white;
    margin: 0 auto;
}

.footer-tab{
    display: flex;
    flex-wrap: wrap;
}

.footer-tab ul{
    width: 51%;
    margin-bottom: 5px;
    flex-direction: column;
}

.footer-tab li{
    font-size: 1.3em;
    margin-left: 40px;
    margin-bottom: 5px;
}

.footer-tab p{
    font-size: 2em;
    margin-top: 4px;
    margin-left: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(21, 255, 0);
}   

.copyright{
    margin-top: 50px;
    text-align: center;
}

a:link, a:visited{
    color: black;
}

.footer a:link,.footer a:visited{
    color: white;
}


.main_carousel {
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    margin-bottom: 800px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-412px);
    animation: swirl 40s steps(10000, end) infinite;
  }
  
  .slide {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 187px;
  }
  
  video{
    height: auto;
    width: auto;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  
  .slide img {
    width: 280px;
    height: 175px;
    border: 1px inset black;
  }
  
  .slide.one {
    transform: rotateY(0deg) translateZ(412px);
  }
  .slide.two {
    transform: rotateY(40deg) translateZ(412px);
  }
  .slide.three {
    transform: rotateY(80deg) translateZ(412px);
  }
  .slide.four {
    transform: rotateY(120deg) translateZ(412px);
  }
  .slide.five {
    transform: rotateY(160deg) translateZ(412px);
  }
  .slide.six {
    transform: rotateY(200deg) translateZ(412px);
  }
  .slide.seven {
    transform: rotateY(240deg) translateZ(412px);
  }
  .slide.eight {
    transform: rotateY(280deg) translateZ(412px);
  }
  .slide.nine {
    transform: rotateY(320deg) translateZ(412px);
  }
  
  @keyframes swirl {   
    from {
      transform: rotateY(-360deg);
    }
    to {
      transform: rotateY(0deg);
    }
  } 

.block{
    height: auto;
    background: white;
    width: 75%;
    font-display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 10px black;
}

.block1{
    height: auto;
    background: white;
    width: 75%;
    font-display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 10px black;
}

.project_main{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 0 auto ;
}

.block_main{
    height: auto;
    background: white;
    width: 100%;
    font-display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 10px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 10px black;
}

.block_main img{
    width: 80%;
}

.languages{
    display: flex;
    justify-content: space-evenly;
}
.languages img{
    margin-top: 20px;
    width: 10%;
}
.info_title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info p{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.info{
    margin-bottom: 40px;
}
.project_img{
    width: 70%;
    margin-top: 10px;
    margin-top: 20px;
}

h2{
    margin-bottom: 15px;
    font-size: 2em;
    }

.inworkimg
{
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.inwork{
    display: block;
    margin: 0 auto;
    font-size: 1.75em;
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

/* Medias querry */

@media screen and (max-width:1023px) {
    .main_carousel{
        display: none;
    }

    .footer{
        height: 600px;
    }

    .welcome{
        text-align: center;
        margin-bottom: 300px;
    }

    .welcome p{
        margin-bottom: 25px;
        color : white;
        left: 0;
        transition: left 1s, transform 1s;
        white-space: nowrap;
    }

    .phone_main{
        height: auto;
        background: white;
        width: 75%;
        font-display: block;
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 300px;
        text-align: center;
        border: 10px solid white;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 12px 12px 10px black;
    }

    .slider{
        margin-top: 0%;
    }

    h4{
        width: 100%;
        height: 20vh;
        color: black;
        display: flex;
        background: white;
      }
          
      .continue{
        color: rgb(0, 0, 0);
        text-align: center;
      }
      
      .slider h4 {
        max-width: 100%;
        display: none;
      }
      
      h4.active {
        display: block;
      }
      
      p{
        width: 100%;
      }
      
      .nav_div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        background: white;
        border: 10px solid white;
        border-top: 30px solid white;
      }

      h4 img{
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
      }
      
      .btn-nav {
        font-size: 50px;
        margin: 0 25px;
        cursor: pointer;
      }
    
      .block#hello{
        width: 70%;
      }
}



@media screen and (min-width:775px) {
    h1{
        font-size: 3em;
    }

    .button{
        visibility: hidden;
    }
    nav{     
        display: flex;
        border: solid transparent;
        margin: 0 auto;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
    }
    
    .li_nav{
        margin-left: 50px;
        margin-right: 50px;
        background: transparent;
        color: rgb(0, 0, 0);
        height: 70px;
        font-size: 2em;
        border: 1px solid transparent;
        text-decoration: underline;
    
    }

    .footer-tab ul{
        width: 30%;
    }

    .footer-tab li{
        font-size: 1.3em;
        margin-left: 90px;
        margin-bottom: 6px;
        transition: all 0.3s ease;
    }


    .footer-tab li:hover{
        margin-left: 95px;
    }

    .footer-tab p{
    
        font-size: 2em;
        margin-top: 4px;
        margin-left: 80px;
        margin-bottom: 10px;
        text-decoration: underline;
        text-decoration-color: rgb(21, 255, 0); 
    }
    
    .footer{
        height: 300px;
    }

    .logo{
        width: 3%;
    }

    .block{
        width: 40%;
    }

    .inwork{
        width: 100%;
        font-size: 2.5em;
        text-align: center;
    }

    .inworkimg{
        width: 5%;
        margin-top: 100px;
    }

    .slider{
        margin-top: 10%;
    }

    h4 img{
        width: 70%;
    }
}


@media screen and (min-width: 1024px) {
    h1{
        font-size: 4em;
        border-top: 10px solid transparent;
        margin-bottom: 20px;
        }
        
    .button{
        display: none;
    }

    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contenant p{
        margin-left: 50px;
    }

    .images-entree .material-symbols-outlined{
        margin: 0px;
        margin-bottom: 0px;
    }

    .footer-tab ul{
        width: 20%;
        text-align: left;
    }

    .footer-tab{
        justify-content: center;
    }

    .block{
        width: 35%;
    }
    
    .block_main p{
        margin-bottom: 10px;
    }

    .main_carousel{
        margin-bottom: 900px;
    }

    .project_main{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .block{
        margin-bottom: 150px;
    }

    .block1{
        margin-bottom: 100px;
        width: 20%;
        height: 75px;
    }

    .block_main{
        margin-left: 50px;
        width: 30%;
        margin-right: 50px;
    }

    .welcome{
        display: none;
    }

    .phone_main{
        display: none;
    }
}